@charset "UTF-8";
*, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p, button, span {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body, html {
  font-optical-sizing: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-webkit-input-placeholder {
  color: #41464B;
}

input::-moz-placeholder {
  color: #41464B;
}

input:-ms-input-placeholder {
  color: #41464B;
}

input::-ms-input-placeholder {
  color: #41464B;
}

input::placeholder {
  color: #41464B;
}

html, nav {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

body {
  overflow: none;
}
body .row {
  display: block;
  margin: 0;
}
body .row .col-md-12 {
  padding: 0;
}
body .row .col-md-12 .jumbotron {
  width: 100%;
}
body .row .col-md-12 .jumbotron header {
  min-width: 1920px;
  width: 100%;
  height: 80px;
  background-color: #302B3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .row .col-md-12 .jumbotron header .left_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 186px;
}
body .row .col-md-12 .jumbotron header .left_menu .menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
body .row .col-md-12 .jumbotron header .left_menu .menu_btn .btn {
  min-width: 125px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  color: #FFFFFF;
  border: none;
}
body .row .col-md-12 .jumbotron header .left_menu .menu_btn:focus {
  outline: none;
  color: #24C9E3;
}
body .row .col-md-12 .jumbotron header .exit_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 58px;
}
body .row .col-md-12 .jumbotron main {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  white-space: nowrap;
}
body .row .col-md-12 .jumbotron main nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  padding: 10px;
  max-width: 360px;
  background-color: #515E7B;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
body .row .col-md-12 .jumbotron main nav .newregister_btn {
  border-bottom: 1px solid #8C98B2;
  padding-bottom: 14px;
  width: 340px;
}
body .row .col-md-12 .jumbotron main nav .newregister_btn button {
  height: 44px;
  font-size: 18px;
  font-weight: Medium;
  width: 340px;
  padding: 0.5rem;
  background: #0888F8;
  border: 0px;
  border-radius: 22px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
body .row .col-md-12 .jumbotron main nav .newregister_btn button img {
  padding-right: 0.75em;
}
body .row .col-md-12 .jumbotron main nav .search-container {
  width: 340px;
  padding: 0;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0;
  margin-left: 10px;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex p {
  width: 40%;
  font-size: 1.13em;
  color: #ffffff;
  margin: 0;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg ::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg .form-control::-webkit-input-placeholder {
  color: #41464B;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg .form-control::-moz-placeholder {
  color: #41464B;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg .form-control:-ms-input-placeholder {
  color: #41464B;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg .form-control::-ms-input-placeholder {
  color: #41464B;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg .form-control::placeholder {
  color: #41464B;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg .form-control {
  padding: 5px 0.63em;
  margin: 0;
  padding-right: 40px;
  font-size: 0.75em;
  width: 200px;
  height: 28px;
}
body .row .col-md-12 .jumbotron main nav .search-container .d-flex .searchimg img {
  position: absolute;
  top: 8px;
  right: 11px;
  cursor: pointer;
}
body .row .col-md-12 .jumbotron main nav .menu_list .menu-container {
  min-height: 670px;
  border-radius: 0px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body .row .col-md-12 .jumbotron main nav .menu_list .menu-container .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 322px;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #41464B;
  font-size: 0.75em;
}
body .row .col-md-12 .jumbotron main nav .menu_list .menu-container .menu-item:hover, body .row .col-md-12 .jumbotron main nav .menu_list .menu-container .menu-item.active {
  color: white;
  background-color: rgba(28, 202, 214, 0.5019607843);
  border-color: rgba(28, 202, 214, 0.5019607843);
}
body .row .col-md-12 .jumbotron main .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  overflow: auto;
}
body .row .col-md-12 .jumbotron main .content .container_box {
  margin: 20px 20px 0px 20px;
  width: 100%;
  width: 1482px;
  width: 1482px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_header {
  height: 72px;
  background-color: #24C9E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 1.19em 6px 1.13em 1.25em;
  border-radius: 0.31em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_header .txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_header .txtbox h3 {
  color: #302B3A;
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 1.25em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_header .txtbox h4 {
  color: #302B3A;
  font-weight: bold;
  font-size: 1.13em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_header .menu_btn .btn {
  font-weight: 600;
  font-size: 18px;
  padding: 9px 27px;
  color: #ffffff;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_header .menu_btn .btn.active1 {
  background-color: #515E7B;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_header .menu_btn .btn:hover {
  background-color: #515E7B;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field {
  padding-left: 1.25em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form legend {
  margin: 1rem 0;
  font-size: 18px;
  color: #302B3A;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyTitle {
  color: #302B3A;
  font-size: 18px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyTitle input {
  font-size: 16px;
  width: 18.75em;
  border-radius: 0.31em;
  border: 1px solid #707070;
  margin-left: 0.94em;
  padding: 3px 10px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  gap: 3.75em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner p {
  color: #302B3A;
  font-size: 18px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner p input {
  padding: 3px 10px;
  font-size: 16px;
  border: 1px solid #707070;
  border-radius: 0.31em;
  margin: 0 0.2rem;
  height: 1.88em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner p:nth-of-type(1) input {
  margin-left: 0.94em;
  width: 7.5em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner p:nth-of-type(2) input {
  margin-left: 1.13em;
  width: 160px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner .addressForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner .addressForm p {
  color: #302B3A;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner .addressForm p input {
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner .addressForm p:nth-of-type(1) input {
  width: 80px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner .addressForm p:nth-of-type(2) input {
  margin-left: 4px;
  width: 300px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .agencyOwner .addressForm p:nth-of-type(3) input {
  width: 380px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .manager p {
  font-size: 18px;
  color: #302B3A;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .manager p input {
  padding: 3px 10px;
  font-size: 16px;
  border: 1px solid #707070;
  border-radius: 0.31em;
  margin: 0 0.2rem;
  height: 1.88em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .manager p:nth-of-type(1) input {
  margin-left: 1.94em;
  width: 7.5em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .manager p:nth-of-type(2) input {
  margin-left: 1.13em;
  width: 10em;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .manager .email {
  color: #302B3A;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
body .row .col-md-12 .jumbotron main .content .container_box .container_field form .manager .email input, body .row .col-md-12 .jumbotron main .content .container_box .container_field form .manager .email select {
  font-size: 16px;
  padding: 3px 10px;
  width: 240px;
  border-radius: 5px;
  border: 1px solid #707070;
}
body .row .col-md-12 .jumbotron main .content .container_box hr {
  -webkit-transform: translateY(450px);
          transform: translateY(450px);
  background: #707070;
  height: 1px;
  border: 0;
}