
*,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p, button,span{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
input::placeholder{
    color: #41464B;
}
//모질라 , 파이어폭스 스크롤
html,nav{
    scrollbar-width: none;
}


body::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}


body{
    overflow: none;
    .row{
        display: block;
        margin: 0;
        .col-md-12{
            padding: 0;
            .jumbotron{
                width: 100%;
                header{
                    min-width: 1920px;
                    width: 100%;
                    height: 80px;
                    background-color: #302B3A;
                    display: flex;
                    justify-content: space-between;
                    .left_menu{
                        display: flex;
                        gap: 186px;
                        .logo{
                            img{
                                
                            }
                        }
                        .menu_btn{
                            display: flex;
                            align-items: center;
                            gap: 40px;
                            .btn{
                                min-width: 125px;
                                width: 100%;
                                font-size: 20px;
                                font-weight: bold;
                                height: 100%;
                                color: #FFFFFF;
                                border: none;
                            }
                            &:focus{
                                outline:none;
                                color: #24C9E3;
                            }
                        }
                    }
                    
                    .exit_btn{
                        display: flex;
                        align-items: center;
                        margin-right:58px;
                    }
                }
                main{
                    overflow:hidden;
                    display: flex;
                    justify-content: flex-start;
                    white-space: nowrap;
                    nav{
                        flex: 0 0 360px;
                        padding: 10px;
                        max-width: 360px;
                        background-color: #515E7B;
                        overflow:hidden; 
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        position: relative;
                        justify-content: flex-start;
                        .newregister_btn{
                            border-bottom: 1px solid #8C98B2;
                            padding-bottom: 14px;
                            width: 340px;
                            button{
                                height: 44px;
                                font-size: 18px;
                                font-weight: Medium;
                                width: 340px;
                                padding: .5rem;
                                background: #0888F8;// 0% 0% no-repeat padding-box
                                border: 0px;
                                border-radius: 22px;
                                color: #ffffff;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                img{
                                    padding-right: 0.75em;
                                }
                            }
                        }
                        .search-container{
                            width: 340px;
                            padding: 0;
                            .d-flex{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 23px 0;
                                margin-left: 10px;
                                p{
                                    width: 40%;
                                    font-size: 1.13em;
                                    color: #ffffff;
                                    margin: 0;
                                }
                                .searchimg{
                                    position: relative;
                                    display: flex;
                                    align-items: center;
    
                                    ::-webkit-search-cancel-button {
                                        -webkit-appearance: none;
                                    }
                                    .form-control::placeholder{
                                        color: #41464B;
                                    }
                                    .form-control{
                                        padding: 5px 0.63em;
                                        margin: 0;
                                        padding-right: 40px;
                                        font-size: 0.75em;
                                        width: 200px;
                                        height: 28px;
                                    }
                                    img{
                                        position: absolute;
                                        top: 8px;
                                        right: 11px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .menu_list{
                            
                            .menu-container{
                                min-height: 670px;
                                border-radius: 0px;
                                width: 100%;//21.25em
                                overflow-y: auto;
                                overflow-x: hidden;
                                box-sizing: border-box;
                                .menu-item{
                                    display: flex;
                                    align-items: center;
                                    height: 30px;
                                    width: 322px;
                                    border: none;
                                    padding: 10px;
                                    cursor: pointer;
                                    color: #41464B;
                                    font-size: 0.75em;
                                    &:hover,&.active {
                                        color: white;
                                        background-color: #1ccad680;
                                        border-color: #1CCAD680;
                                    }
                                }
                            }
                        }    
                        
                    }
                    .content{
                        flex: 1;
                        width: 100%;
                        overflow: auto;
                        // margin: 20px 20px 20px 20px;
                        .container_box{
                            margin: 20px 20px 0px 20px;
                            width: 100%;
                            width: 1482px;
                            width: 1482px;
                            .container_header{
                                height: 72px;
                                background-color: #24C9E3;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin: 0;
                                padding: 1.19em 6px 1.13em 1.25em;
                                border-radius: 0.31em;
                                .txtbox{
                                    display: flex;
                                    align-items: center;
                                    h3{
                                        color: #302B3A;
                                        font-weight: bold;
                                        font-size: 1.5em;
                                        margin-right: 1.25em;
                                    }
                                    h4{
                                        color: #302B3A;
                                        font-weight: bold;
                                        font-size: 1.13em;
                                    }
                                } 
                                .menu_btn{
                                    .btn{
                                        font-weight: bold;
                                        font-size: 18px;
                                        padding: 9px 27px;
                                        color: #ffffff;
                                    }
                                    .btn.active1{
                                        background-color: #515E7B;
                                    }
                                    .btn:hover{
                                        background-color: #515E7B;
                                    }
                                }       
                        
                            }
                            .container_field{
                                padding-left: 1.25em;
                                form{
                                    legend{
                                        margin: 1rem 0;
                                        font-size: 18px;
                                        color: #302B3A;
                                    }
                                    .agencyTitle{
                                        color: #302B3A;
                                        font-size: 18px;
                                        input{
                                            font-size: 16px;
                                            width: 18.75em;
                                            border-radius: 0.31em;
                                            border:1px solid #707070;
                                            margin-left:0.94em ;
                                            padding: 3px 10px;
                                        }
                                    }
                                    .agencyOwner{
                                        display: flex;
                                        align-items: center;
                                        margin: 1rem 0;
                                        gap: 3.75em;
                                        p{
                                            color: #302B3A;
                                            font-size: 18px;
                                            input{
                                                padding: 3px 10px;
                                                font-size: 16px;
                                                border:1px solid #707070;
                                                border-radius: 0.31em;
                                                margin: 0 .2rem;
                                                height: 1.88em;
                                            }
                                        }
                                        p:nth-of-type(1){
                                            input{
                                                margin-left:0.94em ;
                                                width:7.50em;
                                            }
                                        }
                                        p:nth-of-type(2){
                                            input{
                                                margin-left:1.13em ;
                                                width:160px;
                                            }
                                        }
                                        .addressForm{
                                            display: flex;
                                            align-items: center;
                                            font-size: 18px;
                                            p{
                                                color: #302B3A;
                                                input{
                                                    padding: 3px 10px;
                                                    font-size: 16px;
                                                    border-radius: 5px;
                                                }
                                            }
                                            p:nth-of-type(1){
                                                input{
                                                    width:80px;
                                                }
                                            }
                                            p:nth-of-type(2){
                                                input{
                                                    margin-left: 4px;
                                                    width:300px;
                                                }
                                            }
                                            p:nth-of-type(3){
                                                
                                                input{
                                                    width:380px;
                                                }
                                            }
                                        }
                                    }
                                    .manager{
                                        display: flex;
                                        align-items: center;
                                        gap: 60px;
                                        p{
                                            font-size: 18px;
                                            color: #302B3A;
                                            input{
                                                padding: 3px 10px;
                                                font-size: 16px;
                                                
                                                border:1px solid #707070;
                                                border-radius: 0.31em;
                                                margin: 0 .2rem;
                                                height: 1.88em;
                                            }
                                        }
                                        p:nth-of-type(1){
                                            input{
                                                margin-left:1.94em ;
                                                width:7.50em;
                                            }
                                        }
                                        p:nth-of-type(2){
                                            input{
                                                margin-left:1.13em ;
                                                width:10.00em;
                                            }
                                        }
                                        
                                        .email{
                                            color: #302B3A;
                                            font-size: 18px;
                                            display: flex;
                                            align-items: center;
                                            gap: .5rem;
                                            input,select{
                                                font-size: 16px;
                                                padding: 3px 10px;
                                                width: 240px;
                                                border-radius: 5px;
                                                border: 1px solid #707070;
                                            }
                                            span{
                                                small{
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            hr{
                                transform: translateY(450px);
                                background: #707070;
                                height: 1px;
                                border: 0;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

